@charset "UTF-8";

/* 重置所有標籤的樣式 */
/* 『*』代表所有標籤的意思 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距paddin與邊框 border*/
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: rgb(116, 107, 95); */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block
        /* 預設inline改為block */
    ;
    text-decoration: none;
}

/* 架構區 */


/* 標籤區↓↓ */
#All {
    max-width: 1920px;
    max-height: 850px;
    height: 1800px;
    /* height: 60vh; */
    background-image: url(..//image/image\ 9.png);
    background-position: center;
    /* 圖片適應容器大小 */
    background-size: cover;
    /* 圖片填滿 */
    background-repeat: no-repeat;
    /* 圖片不重複 */
}

.menu {
    display: flex;
    justify-content: space-between;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

.menu__menu {
    display: flex;
    margin: 10px;

}

.menu__menu li {
    display: flex;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 10px;
    background-color: bisque;
}

.menu__menu li a {
    color: black
}

/* 標籤區↑↑ */


#decorative__block {
    /* margin: 200px 180px 180px 180px; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1200px;
    max-width: 1900px;
    /* height: 900px; */
    width: 100%;
    margin: 30px 0 0 0;
}


.decorative__block__All_box {
    display: flex;
    max-height: 650px;
    max-width: 1900px;
    position: relative;
}

/* 左半邊區域↓↓ */

.decorative__block_box {
    margin: 0 20px 0 0;
    border: 2px solid #444;
    border-radius: 10px 0 0 10px;
    /* position: relative; */
}

.ul-1 {
    height: 100%;
}

.decorative__block_box li {
    padding: 20px 10px;
}

.decorative__block_box li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}

/* 左半邊區域↑↑ */


/* 左半邊區域的側邊欄位↓↓ */



/* .decorative__block_box_sidebar_All {
    width: 300px;
    height: 450px;
    position: absolute;
    border: 2px solid #444;
    border-radius: 99px;
    display: none;
    left: 211px;
    left: 405px;
} */

.decorative__block_box_sidebar-1,
.decorative__block_box_sidebar-2,
.decorative__block_box_sidebar-3,
.decorative__block_box_sidebar-4,
.decorative__block_box_sidebar-5 {
    max-width: 600px;
    max-height: 600px;
    width: 250px;
    height: 600px;
    display: flex;
    border: 2px solid #444;
    border-radius: 0 10px 10px 0;
    display: none;
    position: absolute;
    left: 70px;
    background-color: rgb(196, 138, 138);
}

.decorative__block_box_sidebar-1 ul,
.decorative__block_box_sidebar-2 ul,
.decorative__block_box_sidebar-3 ul,
.decorative__block_box_sidebar-4 ul,
.decorative__block_box_sidebar-5 ul {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
}

.decorative__block_box_sidebar-1 li,
.decorative__block_box_sidebar-2 li,
.decorative__block_box_sidebar-3 li,
.decorative__block_box_sidebar-4 li,
.decorative__block_box_sidebar-5 li {
    padding: 20px;
}

.decorative__block_box .ul-1 a alert {
    background-color: rgb(131, 178, 205);
    color: red;
}


.decorative__block_box_sidebar-1 .decorative__block_box_sidebar-1 alert  {
    display: block;
}

.decorative__block_box_sidebar-2 .decorative__block_box_sidebar-2 alert {
    display: block;
}

.decorative__block_box_sidebar-3 .decorative__block_box_sidebar-3 alert {
    display: block;
}

.decorative__block_box_sidebar-4 .decorative__block_box_sidebar-4 alert {
    display: block;
}

.decorative__block_box_sidebar-5 .decorative__block_box_sidebar-5 alert {
    display: block;
}



/* 中間區域↓↓ */

.div__box {
    max-width: 1100px;
    max-height: 600px;
    width: 1100px;
    height: 600px;
    border: 2px solid #444;
    border-radius: 10px;
    margin: 0 50px;
}


.div__box div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1100px;
    height: 600px;
}

.div__box a {
    width: 180px;
    height: 180px;
    border: 2px solid #444;
    border-radius: 10px;
    margin: 0 40px 30px 0;
}

/* 中間區域↑↑ */

/* 右半邊區域↓↓ */

.decorative__block_box_2 {
    margin: 0 0 0 20px;
    border: 2px solid #444;
    border-radius: 10px;
}

.decorative__block_box_2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.decorative__block_box_2 li {
    padding: 20px 10px;
}

.decorative__block_box_2 li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}

/* 右半邊區域↑↑ */


/* 下半邊區域↓↓ */

.decorative__block_box_3 {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.decorative__block_box_3 ul {
    display: flex;
}


.decorative__block_box_3 li {
    padding: 0 50px;
    align-content: flex-end;
}

.decorative__block_box_3_a {
    padding: 0 60px;
}

.decorative__block_box_3 a {
    color: black;
}

.decorative__block_box_3 p {
    display: flex;
    justify-content: center;
}




/* 下半邊區域↑↑ */

/* 最底區域↓↓ */

.decorative__block_box_4 {
    display: flex;
    justify-content: center;
}

.decorative__block_box_4 ul {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}

.decorative__block_box_4 li {
    padding: 0 50px;
    justify-content: center;

}

.decorative__block_box_4 img {
    max-width: 100px;
    max-height: 100px;
}

.decorative__block_box_4 p {
    color: black;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.decorative__block_box_4_1 {
    display: flex;
    /* display: none; */
    /* flex-direction: column; */
}

.decorative__block_box_4_1_2 {
    display: flex;
}