body {
    margin: 0;
    background-image: url(./images/bg.jpg);
    font-size:12px ; /* 在body設定font-size,瀏覽器調整字體外觀就不奏效 */
}

img {
display:block; /* 以消除img與其它區塊元素間的間距 */
}

.box {
    width: 1000px;
    margin: 0 auto; /* 間距(auto)自動偵測必須搭配寬度(width) */    
}

.btn {
    /* block會自動填滿行,因此用float浮動區塊覆蓋原來的block,才能橫向並排 */
    float: left; /* 快捷=> fll */
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 150%; /* 相等font-size: 1.5em */
}

p {
 font-size: 1em; /* <p>預設font-size: 1em */
}